{% extends 'base.html' %}

{% block title %}Easter Egg{% endblock %}

{% block main %}
<div class="text-center">
    <!-- Easter egg message -->
    <h1>Congratulations! You've found the Easter egg!</h1>
    
    <!-- Play audio automatically when the page loads -->
    <audio id="easterAudio" autoplay>
        <source src="/static/audio/easteregg.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>

    <!-- Button to redirect to LinkedIn -->
    <a href="https://www.linkedin.com/in/idojoffe/" target="_blank" class="btn btn-primary btn-lg mt-3">Link to my Linkdin</a>
</div>
{% endblock %}

{% block script %}
<script>
    // Script to stop audio when leaving the page (optional)
    window.onbeforeunload = function() {
        var audio = document.getElementById('easterAudio');
        audio.pause();
    };
</script>
{% endblock %}